-webkit-transform: rotate(45deg); /* Chrome, Safari */
-moz-transform: rotate(45deg);    /* Firefox */
-ms-transform: rotate(45deg);     /* Edge Legacy */
transform: rotate(45deg);         /* Standard */
display: -ms-flexbox; /* Pour IE */
display: flex; /* Par défaut */ 

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}
body{
    background-image: url(background3.png);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem; /* Adapté à la taille de police de l'utilisateur */
}
.Nav-Bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;  /* Ajoute de l'espace autour des éléments */
}

.Nav-Bar a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;  /* Espacement entre les éléments */
    font-size: 18px;  /* Ajuste la taille du texte */
}
.Content_Nav_Bar{
    flex-direction: row;
    display: flex;
    align-items: right;
    justify-content: right;
    gap: 15px;
    font-size: 15px;
    margin-right: 200px;
}
.nav1{
    color:white;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 8px;
}
.nav2{
    color:white;
    background-color: rgba(255,176,0, 0.8);
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 8px;
}
#logo{
    width: 150px;
    height: 35px;
}
.partInfos{
  display: flex;
  flex-direction: row;
  justify-content: left;
}
#nomSite{
    color:rgb(255,176,0);
    font-size: 50px;
    margin-top: 0px;
    
}
#trucImg{
    margin-top: 0px;
    width: 40px;
    height: 50px;
}
.aboutOurSite{
    border-left: 5px solid white;
    border-bottom: 5px solid white;
    margin: 10% 30% 0% 30%;
    color: white;
    padding-left: 20px;
    padding-bottom: 20px;
}
#slogan{
    margin-top: 80px;
    color: rgba(255, 255, 255, 0.5);
}
.elmtsFooter{
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
    margin-left: 8px;
    margin-top:  150px;
}
.Content_footer{
    width: 20px;
    flex-direction: row;
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 0px 5px 0px 5px;
}
