-webkit-transform: rotate(45deg); /* Chrome, Safari */
-moz-transform: rotate(45deg);    /* Firefox */
-ms-transform: rotate(45deg);     /* Edge Legacy */
transform: rotate(45deg);         /* Standard */
display: -ms-flexbox; /* Pour IE */
display: flex; /* Par défaut */ 

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}
body{
    background-image: url(background2.png);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem; /* Adapté à la taille de police de l'utilisateur */
}
.Nav-Bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
.Content_Nav_Bar{
    flex-direction: row;
    display: flex;
    align-items: right;
    justify-content: right;
    gap: 15px;
    font-size: 15px;
    margin-right: 200px;
}
.nav1{
    color:white;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px 10px 5px 10px;
    border: 1px solid white;
    border-radius: 8px;
}
.nav2{
    color:white;
    background-color: rgba(255,176,0, 0.8);
    padding: 5px 10px 5px 10px;
    border: 1px solid white;
    border-radius: 8px;
}
#logo{
    width: 150px;
    height: 35px;
}
.formInscription {
    margin: 10px auto;  /* Centre le formulaire horizontalement */
    border: 5px solid rgba(255, 255, 255, 0.3);  /* Bordure semi-transparente */
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;  /* Réduit la largeur à 80% de l'écran */
    max-width: 400px;  /* Limite la largeur à 400px */
    padding: 20px;  /* Ajoute de l'espace interne */
    box-sizing: border-box;  /* Inclut les bordures et le padding dans la largeur totale */
}

table {
    color: white;
    width: 100%;  /* La table occupe toute la largeur disponible */
}

/* Media Query pour les petits écrans */
@media (max-width: 768px) {
    .formInscription {
        width: 90%;  /* Réduit la largeur à 90% de l'écran sur les petits écrans */
        padding: 15px;  /* Réduit l'espace interne sur les petits écrans */
    }
    
    table {
        width: 100%;  /* Garantit que la table reste responsive */
    }
}

#singUpTitle{
    font-size: 20px;
    color: #1b9476;
    text-decoration: underline;
}
#singUpBtn{
    background-color: rgb(255,176,0);
    margin-left: 120px;
    border: none;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
}
a{
    color: #100644;
    text-decoration: none;
}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
    margin-left: 8px;
    margin-top:  40px;
}
.Content_footer{
    width: 20px;
    flex-direction: row;
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 0px 5px 0px 5px;
}
